<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
        <h1>Hello From HomePage</h1>
    <%- include('./partials/scripts') %>
</body>
</html>